<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.ApkMelali_Test"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <activity
            android:name=".RegisterActivity"
            android:exported="true" />

        <activity
            android:name=".DashboardActivity"
            android:exported="true" />

        <activity
            android:name=".DeskripsiWisataActivity"
            android:exported="true" />

        <activity
            android:name=".TiketWisataListView"
            android:exported="true" />
        <activity
            android:name=".CustomListView_TiketWisata"
            android:exported="true" />
        <activity
            android:name=".DetailTiketWisata"
            android:exported="true" />
        <activity
            android:name=".PesanTiketWisata"
            android:exported="true" />

        <activity
            android:name=".TiketBusListView"
            android:exported="true" />
        <activity
            android:name=".CustomListView_TiketBus"
            android:exported="true" />
        <activity
            android:name=".DetailTiketBus"
            android:exported="true" />
        <activity
            android:name=".PesanTiketBus"
            android:exported="true" />

        <activity
            android:name=".ArtikelActivity"
            android:exported="true" />

    </application>
</manifest>